.google {
	width: 25em;
   }

.input {
	height: 3em;
   }

.search{
     font-family: "Arial";
     font-size: 15px;
	 color: #737373;
  }

.input {
    box-shadow: 2px 2px 2px #888888;
  }

.margin {
	margin-right: 15px
}

.black {
	color: #000000
}