.google {
	width: 25em;
   }

.input {
	height: 3em;
   }

.search{
     font-family: "Arial";
     font-size: 15px;
	 color: #737373;
  }

.input {
    box-shadow: 2px 2px 2px #888888;
  }
  
.margin {
	margin-right: 20px;
	margin-top: 20px;
	margin-left: 10px;
}

.gimages {
	margin-right: 20px;
	margin-left: 10px;
	color: #000000
}